{
  "openapi": "3.0.0",
  "info": {
    "description": "BeatPass uses cookie-based session authentication via Laravel Sanctum. Authenticate by logging in at `/auth/login` after obtaining a CSRF token from `/sanctum/csrf-cookie`. Session cookies are automatically included in subsequent requests by the browser.",
    "version": "1.0.0",
    "title": "BeatPass API"
  },
  "servers": [
    {
      "url": "https://open.beatpass.ca/api/v1",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "sessionAuth": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Search across albums, artists, playlists, tracks and users"
    },
    {
      "name": "Playlists",
      "description": "Manage playlists and playlist tracks"
    },
    {
      "name": "Playlist Collaboration",
      "description": "Invite users to collaborate on playlists"
    },
    {
      "name": "Artists",
      "description": "Manage artists and artist information"
    },
    {
      "name": "Albums",
      "description": "Manage albums and album information"
    },
    {
      "name": "Tracks",
      "description": "Manage tracks, downloads and track information"
    },
    {
      "name": "Track Purchases",
      "description": "Purchase tracks via Stripe Connect (exclusive licenses)"
    },
    {
      "name": "License Certificates",
      "description": "Generate, verify and manage track licenses"
    },
    {
      "name": "Audio Fingerprinting",
      "description": "Generate audio fingerprints and detect duplicates"
    },
    {
      "name": "Beat Requests",
      "description": "Create and manage custom beat requests"
    },
    {
      "name": "Producer Intelligence",
      "description": "Analytics, XP, achievements and leaderboards for producers"
    },
    {
      "name": "Tags",
      "description": "Manage track and album tags"
    },
    {
      "name": "Genres",
      "description": "Manage music genres"
    },
    {
      "name": "Users",
      "description": "User management, search and social features"
    },
    {
      "name": "User Library",
      "description": "Manage user's liked tracks, albums and artists"
    },
    {
      "name": "Reposts",
      "description": "Repost tracks to share with followers"
    },
    {
      "name": "Track Plays",
      "description": "Log and track music playback statistics"
    },
    {
      "name": "Radio",
      "description": "Get personalized music recommendations"
    },
    {
      "name": "Leaderboards",
      "description": "Platform-wide producer and achievement leaderboards"
    },
    {
      "name": "Cover Art",
      "description": "Generate custom cover art using templates"
    },
    {
      "name": "Auth",
      "description": "Authenticate requests to the API"
    },
    {
      "name": "Messaging",
      "description": "Direct messages, group conversations, and real-time features"
    },
    {
      "name": "Collections",
      "description": "Curated content collections"
    },
    {
      "name": "Stripe Connect",
      "description": "Producer payout onboarding and financial overview"
    },
    {
      "name": "Exclusive Licenses",
      "description": "Manage exclusive license pricing presets"
    },
    {
      "name": "Coupons",
      "description": "Validate discount codes during checkout"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Get information about albums, artists, playlists, tracks or users that match a keyword string.",
        "operationId": "searchIndex",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query keywords",
            "schema": {
              "type": "string",
              "example": "led zeppelin",
              "default": null
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "A comma-separated list of item types to search across. Valid types are: album , artist, playlist, track, and user. Search results include hits from all the specified types.",
            "schema": {
              "type": "string",
              "example": "artist,album,track",
              "default": null
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return. The limit is applied within each type, not on the total response.",
            "schema": {
              "type": "integer",
              "example": 3,
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "For each type provided in the type parameter, the response body contains an array of artist, album, track, playlist and user objects in JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "query": {
                      "type": "string",
                      "example": "led zeppelin"
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "artists": {
                          "$ref": "#/components/schemas/Artist"
                        },
                        "albums": {
                          "$ref": "#/components/schemas/Album"
                        },
                        "tracks": {
                          "$ref": "#/components/schemas/Track"
                        },
                        "playlists": {
                          "$ref": "#/components/schemas/Playlist"
                        },
                        "users": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists/{id}": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get a Playlist",
        "operationId": "getPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the playlist",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a playlist object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Playlist"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "totalDuration": {
                              "nullable": true,
                              "type": "integer",
                              "example": 386493,
                              "description": "Total duration of all playlist tracks in milliseconds"
                            },
                            "tracks": {
                              "nullable": true,
                              "allOf": [
                                {
                                  "$ref": "#/components/schemas/Pagination"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "data": {
                                      "type": "array",
                                      "items": {
                                        "$ref": "#/components/schemas/Track"
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      },
      "delete": {
        "tags": [
          "Playlists"
        ],
        "summary": "Delete a playlist",
        "operationId": "deletePlaylist",
        "parameters": [
          {
            "in": "path",
            "name": "ID",
            "required": true,
            "description": "ID of playlist to delete",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist has been deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Create a Playlist for current user",
        "operationId": "createPlaylist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "My playlist"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "description": "Short description (between 20 and 170 chracaters) for playlist"
                  },
                  "image": {
                    "type": "string",
                    "nullable": true,
                    "description": "Image url for playlist"
                  },
                  "public": {
                    "type": "string",
                    "nullable": true,
                    "default": false,
                    "description": "Whether this playlist will be set as public"
                  },
                  "collaborative": {
                    "type": "string",
                    "nullable": true,
                    "default": false,
                    "description": "Whether this playlist will be set as collaborative"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On success, the response body contains the created playlist object in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "description": "Invalid data specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Response422"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Playlists"
        ],
        "summary": "Update specified playlist details",
        "operationId": "updatePlaylist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "My playlist"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "description": "Short description (between 20 and 170 chracaters) for playlist"
                  },
                  "image": {
                    "type": "string",
                    "nullable": true,
                    "description": "Image url for playlist"
                  },
                  "public": {
                    "type": "string",
                    "nullable": true,
                    "default": false,
                    "description": "Whether this playlist will be set as public"
                  },
                  "collaborative": {
                    "type": "string",
                    "nullable": true,
                    "default": false,
                    "description": "Whether this playlist will be set as collaborative"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On success, the response body contains the updated playlist object in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "description": "Invalid data specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Response422"
                }
              }
            }
          }
        }
      }
    },
    "/playlists/{id}/tracks": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get full details of playlist tracks",
        "operationId": "getPlaylistTracks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the playlist",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of playlist tracks in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists/{id}/tracks/add": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Add one or more tracks to a user's playlist",
        "operationId": "addTracksToPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the playlist",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "Array of track ID's to add to this playlist",
                    "type": "array",
                    "example": [
                      1
                    ],
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response body contains a playlist object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists/{id}/tracks/remove": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Remove one or more tracks from a user's playlist",
        "operationId": "removeTracksFromPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the playlist",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "Array of track ID's to remove from this playlist",
                    "type": "array",
                    "example": [
                      1
                    ],
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response body contains a playlist object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists/{id}/follow": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Follow specified playlist with current user",
        "operationId": "followPlaylist",
        "parameters": [
          {
            "in": "path",
            "name": "ID",
            "required": true,
            "description": "ID of playlist to follow",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist has been followed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists/{id}/unfollow": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Unfollow specified playlist with current user",
        "operationId": "unfollowPlaylist",
        "parameters": [
          {
            "in": "path",
            "name": "ID",
            "required": true,
            "description": "ID of playlist to unfollow",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist has been unfollowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/artists/{id}": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Get an Artist",
        "operationId": "getArtist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the artist",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "with",
            "in": "query",
            "description": "Comma separated list of additional data to fetch for this artist. Supported values: similar, genres, albums, topTracks.",
            "schema": {
              "type": "string",
              "example": "albums,genres",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains an artist object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "artist": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Artist"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "albums": {
                              "nullable": true,
                              "allOf": [
                                {
                                  "$ref": "#/components/schemas/Pagination"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "data": {
                                      "type": "array",
                                      "items": {
                                        "$ref": "#/components/schemas/Album"
                                      }
                                    }
                                  }
                                }
                              ]
                            },
                            "similar": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Artist"
                              }
                            },
                            "top_tracks": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            },
                            "genres": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Genre"
                              }
                            },
                            "profile": {
                              "$ref": "#/components/schemas/Profile"
                            },
                            "profile_images": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ProfileImage"
                              }
                            },
                            "links": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ProfileLink"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/artists/{id}/tracks": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Paginate artist tracks",
        "operationId": "getArtistTracks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the artist",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of artist tracks in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/artists/{id}/albums": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Paginate artist albums",
        "operationId": "getArtistAlbums",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the artist",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of artist albums in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Album"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/artists/{id}/followers": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Get all users that follow specified artist",
        "operationId": "getArtistFollowers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the artist",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of users that follow specified artist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/User"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/albums/{id}": {
      "get": {
        "tags": [
          "Albums"
        ],
        "summary": "Get an Album",
        "operationId": "getAlbum",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the album",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "with",
            "in": "query",
            "description": "Comma separated list of additional data to fetch for this album. Supported values: tags, genres, artists, tracks.",
            "schema": {
              "type": "string",
              "example": "artists,genres,tags",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains an album object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "album": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Album"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "genres": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Genre"
                              }
                            },
                            "tags": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Tag"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/tracks/{id}": {
      "get": {
        "tags": [
          "Tracks"
        ],
        "summary": "Get a Track",
        "operationId": "getTrack",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the track",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "with",
            "in": "query",
            "description": "Comma separated list of additional data to fetch for this track. Supported values: tags, genres, artists, album.",
            "schema": {
              "type": "string",
              "example": "album,genres,tags",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a track object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "track": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Track"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "album": {
                              "$ref": "#/components/schemas/Album"
                            },
                            "genres": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Genre"
                              }
                            },
                            "tags": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Tag"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/tracks/{id}/comments": {
      "get": {
        "tags": [
          "Tracks"
        ],
        "summary": "List all track comments",
        "operationId": "getTrackComments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the track",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many comments to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of track comments in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Comment"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/tracks/{id}/lyrics": {
      "get": {
        "tags": [
          "Tracks"
        ],
        "summary": "Get lyric for specified track",
        "operationId": "getTrackLyric",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the track",
            "example": 1,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a lyric object for specified track",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "lyric": {
                      "$ref": "#/components/schemas/Lyric"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/tags/{name}/tracks": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List tracks for specified tag",
        "operationId": "getTagTracks",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the tag",
            "example": "mellow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of tracks for specified tag in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/tags/{name}/albums": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List albums for specified tag",
        "operationId": "getTagAlbums",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the tag",
            "example": "mellow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many albums to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of albums for specified tag in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Album"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/genres": {
      "get": {
        "tags": [
          "Genres"
        ],
        "summary": "List all available genres",
        "operationId": "indexGenres",
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of all existing genres in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Genre"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get public profile information about a user.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user or \"me\" for currently logged in user.",
            "example": "me",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a user object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/users/me/liked-tracks": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List tracks current user has liked",
        "operationId": "getUserLikedTracks",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of tracks user has liked in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/liked-albums": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List albums current user has liked",
        "operationId": "getUserLikedAlbums",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of albums user has liked in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Album"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/liked-artists": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List artists current user has liked",
        "operationId": "getUserLikedArtists",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of artists user has liked in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Artist"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/playlists": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List playlists current user has followed or created",
        "operationId": "getUserLikedPlaylists",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of playlists user has liked in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Playlist"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/followers": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users that are following current user",
        "operationId": "getUserFollowers",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many items to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of users that are following current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/User"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/followed-users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users that current user is currently following",
        "operationId": "getUserFollowed",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many items to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of users that current user is currently following",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/User"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "security": [],
        "tags": [
          "Auth"
        ],
        "summary": "Register for a new account",
        "operationId": "register",
        "responses": {
          "200": {
            "description": "User registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "description": "Invalid data specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Response422"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "example@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password"
                  },
                  "token_name": {
                    "type": "string",
                    "example": "iphone 12"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "security": [],
        "tags": [
          "Auth"
        ],
        "summary": "Login and create session",
        "description": "Logs in the specified user and creates a session. Returns the user object. For SPA authentication, first call `/sanctum/csrf-cookie` to get a CSRF token, then include it in the `X-XSRF-TOKEN` header. Session cookies are automatically managed by the browser.",
        "operationId": "login",
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "description": "Invalid data specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Response422"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "example@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password"
                  },
                  "token_name": {
                    "type": "string",
                    "example": "iphone 12"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tracks/{id}/generate-license": {
      "post": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Generate a license certificate for a track",
        "operationId": "generateLicense",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "license_type": {
                    "type": "string",
                    "example": "exclusive",
                    "description": "Type of license (exclusive, non-exclusive, etc.)"
                  },
                  "usage_terms": {
                    "type": "string",
                    "example": "Commercial use allowed",
                    "description": "Terms of usage for the license"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "license": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "track_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "license_type": {
                          "type": "string",
                          "example": "exclusive"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/tracks/{id}/check-license": {
      "get": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Check license status for a track",
        "operationId": "checkLicense",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "has_license": {
                      "type": "boolean",
                      "example": true
                    },
                    "license_details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      }
    },
    "/tracks/{id}/download-license-pdf": {
      "get": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Download license certificate as PDF",
        "operationId": "downloadLicensePdf",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file download",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/verify-license/{uuid}": {
      "get": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Verify a license certificate by UUID",
        "operationId": "verifyLicense",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "License UUID",
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "valid": {
                      "type": "boolean",
                      "example": true
                    },
                    "license_details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/licenses/{uuid}/revoke": {
      "post": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Revoke a license certificate",
        "operationId": "revokeLicense",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "License UUID",
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/tracks/{id}/fingerprint": {
      "post": {
        "tags": [
          "Audio Fingerprinting"
        ],
        "summary": "Generate audio fingerprint for a track",
        "operationId": "generateFingerprint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fingerprint generation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Fingerprint generation started"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      }
    },
    "/tracks/{id}/fingerprint/status": {
      "get": {
        "tags": [
          "Audio Fingerprinting"
        ],
        "summary": "Get fingerprint generation status",
        "operationId": "getFingerprintStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fingerprint status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "fingerprint_status": {
                      "type": "string",
                      "example": "completed",
                      "enum": [
                        "pending",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      }
    },
    "/tracks/check-duplicates": {
      "post": {
        "tags": [
          "Audio Fingerprinting"
        ],
        "summary": "Check for duplicate tracks using fingerprinting",
        "operationId": "checkDuplicates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "track_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1,
                      2,
                      3
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate check results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "duplicates": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      }
    },
    "/tracks": {
      "get": {
        "tags": [
          "Tracks"
        ],
        "summary": "Get list of tracks",
        "operationId": "getTracks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "example": 25
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search query",
            "schema": {
              "type": "string",
              "example": "rock music"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "tracks": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      },
      "post": {
        "tags": [
          "Tracks"
        ],
        "summary": "Create a new track",
        "operationId": "createTrack",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "My New Track"
                  },
                  "description": {
                    "type": "string",
                    "example": "A great new song"
                  },
                  "duration": {
                    "type": "integer",
                    "example": 180000,
                    "description": "Duration in milliseconds"
                  },
                  "genre": {
                    "type": "string",
                    "example": "Rock"
                  },
                  "artists": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1,
                      2
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Track created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "track": {
                      "$ref": "#/components/schemas/Track"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "422": {
            "$ref": "#/components/responses/Response422"
          }
        }
      }
    },
    "/tracks/{id}/download": {
      "get": {
        "tags": [
          "Tracks"
        ],
        "summary": "Download a track file",
        "operationId": "downloadTrack",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Track file download",
            "content": {
              "audio/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/albums": {
      "get": {
        "tags": [
          "Albums"
        ],
        "summary": "Get list of albums",
        "operationId": "getAlbums",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "example": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of albums",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "albums": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Album"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      },
      "post": {
        "tags": [
          "Albums"
        ],
        "summary": "Create a new album",
        "operationId": "createAlbum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "My New Album"
                  },
                  "description": {
                    "type": "string",
                    "example": "A collection of great songs"
                  },
                  "release_date": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-01-01"
                  },
                  "artist_id": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Album created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "album": {
                      "$ref": "#/components/schemas/Album"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "422": {
            "$ref": "#/components/responses/Response422"
          }
        }
      }
    },
    "/artists": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Get list of artists",
        "operationId": "getArtists",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "example": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of artists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "artists": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Artist"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      },
      "post": {
        "tags": [
          "Artists"
        ],
        "summary": "Create a new artist",
        "operationId": "createArtist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Artist"
                  },
                  "description": {
                    "type": "string",
                    "example": "A talented musician"
                  },
                  "image_small": {
                    "type": "string",
                    "example": "https://example.com/artist-small.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Artist created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "artist": {
                      "$ref": "#/components/schemas/Artist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "422": {
            "$ref": "#/components/responses/Response422"
          }
        }
      }
    },
    "/playlists/{id}/invite": {
      "post": {
        "tags": [
          "Playlist Collaboration"
        ],
        "summary": "Invite a user to collaborate on a playlist",
        "operationId": "inviteToPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Playlist ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "example": 2,
                    "description": "ID of user to invite"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invitation sent successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "$ref": "#/components/responses/Response422"
          }
        }
      }
    },
    "/playlists/{id}/accept-invite": {
      "post": {
        "tags": [
          "Playlist Collaboration"
        ],
        "summary": "Accept a playlist collaboration invitation",
        "operationId": "acceptPlaylistInvite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Playlist ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/playlists/{id}/decline-invite": {
      "post": {
        "tags": [
          "Playlist Collaboration"
        ],
        "summary": "Decline a playlist collaboration invitation",
        "operationId": "declinePlaylistInvite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Playlist ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation declined successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/playlists/{id}/remove-editor": {
      "post": {
        "tags": [
          "Playlist Collaboration"
        ],
        "summary": "Remove an editor from a collaborative playlist",
        "operationId": "removePlaylistEditor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Playlist ID",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "example": 2,
                    "description": "ID of user to remove"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Editor removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/search": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Search for users",
        "operationId": "searchUsers",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string",
              "example": "john"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
[...]
